<%- include("partials/header.ejs") %>

<h1>Work List</h1>

<form class="input-form" action="/work" method="POST">
    <input type="text" name="text" placeholder="New Work" required/>
    <input type="submit" value="ADD"/>
</form>

<% if (locals.items && (locals.items.length > 0)) { %>
    <ul class="tasks-list">
        <% items.forEach(item => { %>
            <form action="/work" method="POST">
                <li <% if (item.done) { %> class="done-task" <% } %> >
                    <input type="text" name="taskId" value=<%= item.id %> class="hide-input"/>
                    <input type="checkbox" name="isDone" value=<% if (item.done) { %> true <% } else { %> false <% } %> onChange="this.form.submit()"/>
                    <p><%= item.text %></p>
                </li>
            </form>
        <% }); %>
    </ul>
<% } else { %>
    <p>Work list is empty.</p>
<% } %>


<%- include("partials/footer.ejs") %>